*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.content__container {
  padding: 2rem;
}

/* Nav Bar */

.logo__placeholder {
  padding-left: 1rem;
}

nav {
  display: flex;
  color: #f2f7f5;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  position: fixed;
  width: 100%;
  background-color: #232323;
}

.nav-links__container {
  background-color: #232323;
  display: none;
  position: absolute;
  top: 40px;
  width: 100%;
}

.nav-link {
  display: block;
  text-align: center;
  color: #f2f7f5;
  padding: 1rem;
}

/* Hamburger */

.hamburger {
  text-decoration: none;
  color: #f2f7f5;
  padding-right: 1rem;
  font-size: 1.25rem;
}

/* Hero */

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #232323;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
}

.hero::before {
  content: "";
  position: absolute;
  opacity: 0.6;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("/assets/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.hero__text__container {
  color: white;
  width: 80%;
}

.hero__title {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
}

.hero__text {
  font-size: 1.25rem;
}

/* About */
.about {
  background-color: #f8f5f2;
}

.about h2 {
  color: #232323;
  padding: 1rem 0;
}

.about p {
  color: #222525;
}

.content__container--about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headshot {
  border-radius: 50%;
  border: 2px solid #232323;
  width: 50%;
  max-width: 300px;
  text-align: center;
}

/* Services */
.services {
  background-color: #fffffe;
  text-align: center;
}

.services__heading {
  color: #232323;
}

.service__title {
  color: #232323;
}

.icon {
  padding: 1rem;
  font-size: 2rem;
  color: #078080;
}

.service {
  background-color: #f8f5f2;
  color: #475d5b;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
}

/* Portfolio */
.portfolio {
  background-color: #f8f5f2;
  color: #232323;
}

/* Contact */
.contact {
  background-color: #f8f5f2;
  color: #232323;
}

.form__container {
  width: 100%;
  margin: 0 auto;
}

.form__info {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  border: none;
  border-radius: 8px;
}
